<ion-app>
  <!-- <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane> -->

  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="limerick">
            <ion-icon src="assets/icon/quill-pen.svg"></ion-icon>
            <ion-label>Limerick</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="haiku">
            <ion-icon src="assets/icon/tree.svg"></ion-icon>
            <ion-label>Haiku</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="settings">
            <ion-icon src="assets/icon/settings.svg"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="home">
          <ion-icon src="assets/icon/home.svg"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-app>
