<ion-app>

  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="limerick">
            <ion-icon src="assets/icon/quill-pen.svg"></ion-icon>
            <ion-label>Limerick</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="haiku">
            <ion-icon src="assets/icon/tree.svg"></ion-icon>
            <ion-label>Haiku</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="settings">
            <ion-icon src="assets/icon/settings.svg"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="home">
          <ion-icon src="assets/icon/home.svg"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-app>
