.limerick{
    &__button-container{
        display:flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 54px;
    }
    &__poem{
        text-align: center;
    }
    &__info-form{
        height: 220px;
    }
}