<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>limerick</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="limerick__info-form" *ngIf="!limerick || isChangingInfo" [@slideinout]>
    <ion-list-header>Your Information</ion-list-header>
    <ion-item>
      <ion-label position="stacked">Name <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" (input)="handleNameValue($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Your Gender</ion-label>
      <ion-select (ionChange)="handleGenderValue($event)" placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="limerick__button-container">
      <ion-button class="haiku__button" [expand]="getExpanded()" color="secondary" (click)="generateLimerick()"
      [disabled]="!hasRequiredInfo()">
      <span *ngIf="!limerick">Generate Limerick</span>
      <span *ngIf="limerick">New Limerick</span>
    </ion-button>
    <ion-button *ngIf="limerick && !isChangingInfo" (click)="changeInfo()" color="tertiary">Change Info</ion-button>
  </div>



  <ion-text class="limerick__poem">
    <p> {{limerick?.line1}}</p>
    <p> {{limerick?.line2}}</p>
    <p> {{limerick?.line3}}</p>
    <p> {{limerick?.line4}}</p>
    <p> {{limerick?.line5}}</p>
  </ion-text>

  <app-social-share *ngIf="limerick"></app-social-share>
</ion-content>